body {
    font-family: Arial, sans-serif;
    background-color: #e7a5e4;
    color: #000000;
    }
    header {
    background-color: #ee00ee94;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    }
    nav 1
    background-color: #f0f0f0;
    padding: 10px;

    {
    nav ul f
    list-style-type: none;
    margin: 0;
    text-align: center;
    }
    nav ul li{
    display: inline;
    margin: 0 10px;
    navulliat
    text-decoration: none;
    color: ##f0000;
    font-weight: bold;
    }
    nav ul li a:hover {
    color: #0000ff;
    }
    
    main {
    padding: 20px;
    }
    { 
    h1, h21
    color: #ff0000;
    }
    strong{
    color: #ff0000;
    }
    table, th, td {
        border: 1px solid #000000;
        }
        th, td {
        padding: 10px;
        text-align: left;
        }
        th {
        background-color: #f0f0f0;
        }
        img {
        width: 400px;
        height: auto;
        margin: 20px 0;
        display: block;
        }
        footer{
        background-color: #f0f0f0;
        color: #000000;
        text-align: center;
        padding: 10px;
        position: fixed;
        bottom: 0;
        width: 100%;
        }
        footer a {
        color: #ff0000;
        text-decoration: none;
        }
        footer a: hover{
        text-decoration: underline;
        }